.page {
    --gray-rgb: 0, 0, 0;
    --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
    --gray-alpha-100: rgba(var(--gray-rgb), 0.05);
  
    --button-primary-hover: #383838;
    --button-secondary-hover: #f2f2f2;
  
    grid-template-rows: 20px 1fr 20px;
    justify-items: center;
    justify-content: center;
    min-height: 100svh;
    padding: 80px;
    gap: 64px;
    font-family: var(--font-geist-sans);
    display: flex;
  
  }

.card {
    background-color:#38383885;
    border-radius: 20px;
    padding: 50px 300px 50px 300px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    text-align: center;
    justify-content: stretch;
}

.passgencard{
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    padding: 16px;
    border-radius: 8px;
}

.password{
    display: flex;
    flex-direction: column;
    color: #ffffff;
    margin-top: 16px;
    align-items: center;
}

@media screen and (max-width: 600px){
    .page{
        padding: 32px;
        padding-bottom: 80px;
    }
    
}